.listContainer {
  padding: 16px;
}

.listTitle {
  text-align: center;
  margin-bottom: 16px;
}

.topicsGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

@media (max-width: 960px) {
  .topicsGridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .topicsGridContainer {
    grid-template-columns: 1fr;
  }
}