main {
}

.nav-container {
  width: 100%;
  background-color: #2a9d8f;
  display: flex;
  align-items: start;
}

.nav-item {
  margin: 2px;
  padding: 2px;
  transition-duration: 300ms;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #bde0fe;
}